*{
	margin:0px;
	padding:0px;
	font-family:sans;
	color:white;
}

.desk{
	width:520px;
	height:520px;
	background-color:brown;
		
}

body{
	display:flex;
	align-items:center;
	justify-content:center;
	height:100vh;
}

span{
	font-size:15px;
	line-height:20px;
}

.letters{
	width:calc(100% - 40px);
	height:20px;
	padding: 0 20px;
	display: flex;
	justify-content: space-around;
}

.mid{
	width:100%;
	height: calc(100% - 40px);
	display: flex;
	justify-content:space-between;
}

.nums{
	width:20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items:center;
}

.cages{
	width: 480px;
	height: 100%;
	display: grid;
}

.cages > div {
	line-height: 0px;
}

.black{
	background: #734222;
}

.white{
	background: white;
}

img{
	width: 100%;
	height: 100%;
}









